<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="google-site-verification" content="zLUxlakyoAQefyGqlZ9WkzvInwuvPojrSgG9MPDylpI" />
<meta name="description" content="{{ .Param "meta_description" }} ">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ff0brickcode">
<meta name="twitter:title" content="{{ .Param "meta_title" }}">
<meta name="twitter:description" content="{{ .Param "meta_description" }}">
<meta name="twitter:image" content="{{ "/images/social/web_card.png" | absURL }}">
<meta property="og:url" content="{{ "/" | absURL }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Param "meta_title" }}" />
<meta property="og:description" content="{{ .Param "meta_description" }}" />
<meta property="og:image" content="{{ "/images/social/web_card.png" | absURL }}" />