<section class="section section-feature-grey is-medium">
    <div class="container">
      <div class="content-wrapper">
        <div class="columns is-multiline">
          {{- range where .Pages.ByPublishDate.Reverse "Section" "blog"}}
          <div class="column is-one-third">
            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
              <div class="card-title">
                <h4>
                  <a href="{{ .URL }}" class="accent-link">
                    {{ .Title }}
                  </a>
                </h4>
              </div>
              <div class="card-text">
                <p>{{ .Description }}</p>
              </div>
              <div class="has-text-right">
                {{ if eq .ReadingTime 0 }}
                <sup>1 minute read</sup>
                {{else}}
                <sup>{{ .ReadingTime }} minute read</sup>
                {{ end }}
              </div>
            </div>
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </section>