{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
<!-- {{- $tiles    := index $section1 "tiles" }} -->
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        {{- range first 3 (where .Pages.ByPublishDate.Reverse "Section" "blog")}}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>
                <a href="{{ .URL }}" class="accent-link">
                  {{ .Title }}
                </a>
              </h4>
            </div>
            <div class="card-text">
              <p>{{ .Description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ .URL }}" class="accent-link">Continue reading ></a>
            </div>
            <sup>
                Published {{ dateFormat "2 January 2006" .PublishDate }}
            </sup>
          </div>
        </div>
        {{- end }}
      </div>
      <div class="columns blog-section-footer">
        <div class="column is-12 is-center has-text-centered">
            <a href="/blog" class="button accent-btn is-rounded btn-align-md raised">See all posts</a>
        </div>
      </div>
    </div>
  </div>
</section>