<section class="section section-light-grey is-medium" id="contact">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
      <h3 class="subtitle is-5 is-muted">We'd love to hear from you</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="contact-form">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Your name" id="contact-name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Your email address" id="contact-email">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="If you'd like to work with us, have some feedback, are looking for some advice or just want to chat, write your message here" id="contact-message"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" id="contact-button" type="button">Send Message</button>
              </div>
            </div>
          </form>
          <p class="subtitle is-muted is-centered is-hidden" id="contact-success">Thanks, your message has been sent. We'll be in touch soon.</p>
          <p class="mt-40 has-text-danger is-hidden" id="contact-validation"></p>
          <p class="mt-40 has-text-danger is-hidden" id="contact-error">Oops! Something went wrong and the message didn't send. Try again and if it continues, please get in touch using Twitter or Facebook to let us know.</p>
        </div>
      </div>
    </div>
  </div>
</section>