.navbar.is-fresh .navbar-brand img {
    max-height: 50px!important;
    height: 50px;
}

footer.footer-dark .footer-logo img {
    height: 60px;
}

html {
    background-color: rgba(248, 181, 0, 0.01);
}

.navbar-burger {
    color: #f8b500;
}

.navbar-burger:hover {
    color: #f8b500;
}

.button.primary-btn {
    background-color: #00adb5;
    border-color: #00adb5;
}

.button.secondary-btn {
    background-color: #f8b500;
    border-color: #f8b500;
}

.button.button.accent-btn {
    background-color: #fc3c3c;
    border-color: #fc3c3c;
}

.divider {
    background-color: #f8b500;
}

.navbar.is-fresh .navbar-item.is-secondary:hover {
    color: #f8b500 !important;
}

.section.section-secondary {
    background-color: #f8b500;
}

footer.footer-dark {
    background-color: #393e46;
    color: #fff4e0;
}

footer.footer-dark .footer-column ul.link-list a {
    color: #74787f;
}

footer.footer-dark .footer-column ul.link-list :hover {
    color: #fff4e0 !important;
}

footer.footer-dark .footer-column .level-item .icon {
    color: #f8b500;
}

.card-title {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-text {
    margin-bottom: 20px;
}

.card-action {
    margin-bottom: 20px;
}

.feature-card .card-text {
    padding: 0 15px;
}

.accent-link {
    color: #fc3c3c !important;
}

.accent-link:hover {
    text-shadow: 1px 1px 1px rgba(252, 60, 60, 0.3);
    opacity: 0.8;
}

.feature-card {
    height: 250px;
    padding: 0 20px;
    width: 350px;
}

.feature-card sup {
    color: #999;
    margin-right: 2em;
}

.blog-section-footer {
    margin-top: 2em;
}